
<div class="flex justify-center flex-col items-center">
	<%= image_tag 'logo.png', alt: 'icon' %>
</div>
<div class="flex justify-center flex-col items-center py-8 space-y-4">
	<%= link_to "Nowa gra", questions_path, class: "neons"%>
	<%= link_to "Pula pytań", questions_path, class: "neons"%>
	<%= link_to "Ranking", questions_path, class: "neons"%>
	<%= link_to "Zasady", questions_path, class: "neons"%>
</div>
