
<div class="flex justify-center flex-col items-center">
	<%= image_tag 'logo.png', alt: 'icon' %>
</div>
<div class="flex justify-center flex-col items-center py-8 space-y-4">
	<%= link_to "New game", questions_path, class: "neon neon-pink"%>
	<%= link_to "Questions set", questions_path, class: "neon neon-green"%>
	<%= link_to "Scoreboard", questions_path, class: "neon neon-light-blue"%>
	<%= link_to "Rules", rules_path, class: "neon neon-yellow"%>
</div>
