<div class="container flex flex-col items-center justify-center mt-10 v-screen">
	<div id="logo">
		<%= image_tag 'logo.png', alt: 'icon' %>
	</div>

	<div id="content" class="my-10 w-full">
		<% if @gp.nil? %>
		<div class="neon-border neon-text neon-red text-4xl text-red-600">
			<p class="p-20">
				Not game found
			</p>
		</div>
		<% else %>
			<% @gp.clear_webhooks %>
			<% if @gp.status == "play" %>

				<div class="flex justify-around space-x-10 mb-8">
					<div class='neon neon-border neon-green'>
						<%= @question.points %> point
					</div>
					<div id='timer' class='neon neon-border neon-light-blue'>
						<p class="inline-block" id="min"></p>:<p class="inline-block" id="sec"></p>
					</div>
					<div id="time-up" class="neon neon-border neon-red hidden">
						Time is up!
					</div>
				</div>
				<div class="neon-border neon-text neon-tail text-4xl text-green-600">
					<% if uri_i?(@question.question) %>
						<div class="flex justify-center">
							<img src="<%= @question.question %>" alt="">
						</div>
					<% else %>
						<%= @question.question %>
					<% end %>
				</div>

				<% letters = "ABCD" %>
				<div class="flex mt-10 flex-wrap">
					<% @question.order.split('').each_with_index do |o, i| %>
						<div class="neon-border neon-text w-1/2 text-xl mt-5 <%= @question.is_all_answer(@gp.game_id) ? (o == 'a' ? 'neon-green' : 'neon-red') : ('neon-pink') %>">
							<% if uri_i?(@question.get_answer(o)) %>
								<div class="flex justify-center">
									<img src="<%= @question.get_answer(o) %>" alt="">
								</div>
							<% else %>
								<%= letters[i] %>. <%= @question.get_answer(o) %>
								<% if @question.is_all_answer(@gp.game_id) %>
									[ <%= @question.count_answers(@gp.game_id, o) %> ]
								<% end %>
							<% end %>
						</div>
					<% end %>
				</div>

			<% elsif @gp.status == "rules" %>
				<% @rules.each do |rule| %>
					<div class="neon-border neon-text neon-green text-2xl text-green-600 m-5">
						<%= rule.orderID %>. <%= rule.content %>
					</div>
				<% end %>
			<% elsif @gp.status == "break" %>
				<% if @teamScores && @teamScores.length >= 3 %>
					<div class="flex mb-10">
						<% @teamScores.each_with_index do |t, i| %>
							<% if i == 1 %>
								<div class="w-1/3 order-1">
							<% elsif i == @teamScores.length / 2 +1 %>
								</div> <div class="w-1/3 order-3">
							<% elsif i == @teamScores.length %>
								</div>
							<% end %>

							<% if i == 0 %>
								<div class="w-1/3 order-2">
									<p class="neon-text neon-green mb-2 text-xl">
										<%= i+1 %>. <%= t.name %>: <%= t.bestScore %> points!
									</p>
									<% if uri_i?(t.linkToPhoto) %>
										<%= image_tag t.linkToPhoto, class: 'w-full' %>
									<% else %>
										<%= image_tag 'winner.jpg', alt: 'icon' %>
									<% end %>
								</div>
							<% else %>
								<p class="text-lg">
									<%= i + 1%>. <%= t.name %>: <%= t.bestScore %> points<br>
								</p>
							<% end %>

						<% end %>
					</div>
				<% else %>
					<div class="neon neon-text neon-light-blue mb-10">Break time</div>
				<% end %>

			<% elsif @gp.status == "scoreboard" %>
				<div class="neon neon-text neon-red mb-5">
					<%= t('game.scoreboard') %>
				</div>
				<% @team_scoreboard.each do |t| %>
					<p class="text-lg neon-text neon-green">
						<%= t['team'].name %> <%= t['score'] %> points <br>
					</p>
				<% end %>
			<% else %>
				Error status
			<% end %>

			<% if @question.is_all_answer(@gp.game_id) %>
				<% if ! @question.justification.empty? %>
					<div class="my-10 neon neon-border neon-tail w-full">
						<%= @question.justification %>
					</div>
				<% end %>
			<% end %>
	<% end %>
	</div>

	<div id="footer" class="neon-border neon-yellow neon-text w-full">
		<p class="p-4">
			&copy; <%= Time.now.year %>
		</p>
	</div>

</div>

<script>
	// on load
	$(document).ready(function() {
		// every second 
		setInterval(function() {
			// get game
			$.ajax({
				url: '<%= game_webhook_url %>',
				type: 'GET',
				dataType: 'json',
				success: function(data) {
					// if data.webhooks > 0, refresh page
					if (data.webhooks > 0)
						// redirect to /lang/game/ {data.lang}
						window.location.href = '/lang/game/' + data.lang;
			}});
		}, 500);

		let time = <%= @question.time %>;
		updateTime(time);

		function updateTime(seconds){
			time = seconds;
			$('#min').text(Math.floor(time / 60));
			$('#sec').text(addZero(time % 60));
		}

		// add leading zero
		function addZero(i) {
			if (i < 10) {
				i = "0" + i;
			}
			return i;
		}

		// countdown
		let interval = setInterval(function() {
			time--;
			updateTime(time);

			if (time == 0) {
				clearInterval(interval);
				$('#timer').hide();
				$('#time-up').show();
			}
		}, 1000);
	
	});

</script>