<div class="container flex flex-col items-center justify-center mt-10 v-screen">
	<div id="logo">
		<%= image_tag 'logo.png', alt: 'icon' %>
	</div>

	<div id="content" class="my-10 w-full">
		<%# GAME IS NOT RUNNING YET %>
		<% if @gp.nil? %>
			<div class="neon-border neon-text neon-red text-4xl text-red-600 mb-10">
				<%= render 'break', :m => "The game will be started soon!" %>
			</div>
		<%# GAME IS RUNNING %>
		<% else %>
			<%# GAME %>
			<% if @gp.status == "play" %>
				<%= render 'play'  %>
			<%# NOT GAME IS PLAYING BUT RULES (GAME JUST STARTED) %>
			<% elsif @gp.status == "rules" %>
				<%= render 'rules'  %>
			<%# BREAK %>
			<% elsif @gp.status == "break" %>
				<%= render 'break', :m => "Break time!" %>
			<%# SCOREBOARD %>
			<% elsif @gp.status == "scoreboard" %>
				<%= render 'scoreboard'  %>
			<% else %>
				Error status
			<% end %>
			
			<%= render 'progres_bar' %>
		<% end %>
	</div>

	<div id="footer" class="neon-border neon-yellow neon-text w-full">
		<p class="p-4">
			&copy; <%= Time.now.year %>
		</p>
	</div>
</div>

<script>
	// on load
	$(document).ready(function() {
		let webhooks_count = <%= Webhook.get_webhook_record %>;

		// every second 
		setInterval(function() {
			// get game
			$.ajax({
				url: '<%= game_webhook_url %>',
				type: 'GET',
				dataType: 'json',
				success: function(data) {
					// if data.webhooks > 0, refresh page
					if (data.count > webhooks_count)
						// redirect to /lang/game/ {data.lang}
						window.location.href = '/lang/game/' + data.lang;
			}});
		}, 1000);

		let time = <%= @question ? @question.time : 0  %>;
		updateTime(time);

		function updateTime(seconds){
			time = seconds;
			$('#min').text(Math.floor(time / 60));
			$('#sec').text(addZero(time % 60));
		}

		// add leading zero
		function addZero(i) {
			if (i < 10) {
				i = "0" + i;
			}
			return i;
		}

		// countdown
		let interval = setInterval(function() {
			time--;
			updateTime(time);

			if (time == 0) {
				clearInterval(interval);
				$('#timer').hide();
				$('#time-up').show();
			}
		}, 1000);
	
	});

</script>