<div class="container flex flex-col items-center justify-center mt-10">
	<div id="logo">
		<%= image_tag 'logo.png', alt: 'icon' %>
	</div>

	<div id="content" class="my-10 w-full">
		<% if @gp.nil? %>
		<div class="neon-border neon-text neon-red text-4xl text-red-600">
			<p class="p-20">
				Not game found
			</p>
		</div>
		<% else %>
			<% if @gp.status == "play" %>
				<div class="neon-border neon-text neon-tail text-4xl text-green-600">
					<%= @question.question %>
				</div>

				<div class="flex mt-10 flex-wrap">
					<% @question.order.split('').each do |o| %>
						<div class="flex justify-around neon-border neon-text w-1/2 text-xl mt-5 <%= @question.is_all_answer(@gp.game_id) ? (o == 'a' ? 'neon-green' : 'neon-red') : ('neon-pink') %>">
							<%= @question.get_answer(o) %>
							<%= o %>

						</div>
					<% end %>
				</div>

			<% elsif @gp.status == "rules" %>
				<% @rules.each do |rule| %>
					<div class="neon-border neon-text neon-green text-2xl text-green-600 m-5">
						<%= rule.orderID %>. <%= rule.content %>
					</div>
				<% end %>
			<% else %>

			<% end %>
	<% end %>
	</div>

	<div id="footer" class="neon-border neon-yellow neon-text w-full">
		<p class="p-4">
			&copy; <%= Time.now.year %>
		</p>
	</div>

</div>