<p class="text-3xl mt-5"><%= t('menu.game.title')%></p>

<% if @games.count == 0 %>
	<p class="text-center mt-5 underline"><%= t("menu.game.noGame") %></p>
<% else %>
	<div class="md:px-32 py-8 w-full">
		<div class="shadow overflow-hidden rounded border-b border-gray-200">
			<table class="min-w-full bg-white">
				<thead class="bg-gray-800 text-white">
					<tr>
						<th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm"><%= t('menu.game.name')%></th>
						<th class="text-left py-3 px-4 uppercase font-semibold text-sm"><%= t('menu.game.status')%></th>
						<th class="text-left py-3 px-4 uppercase font-semibold text-sm"><%= t('menu.game.actions')%></td>
					</tr>
				</thead>
			<tbody class="text-gray-700">

				<% @games.each do |game| %>
					<tr>
						<td class="w-1/3 text-left py-3 px-4"><%= game.name%></td>
						<td class="w-1/3 text-left py-3 px-4 capitalize"> <%= game.status %> </td>
						<td class="text-left py-3 px-4">
							<div class="flex space-x-2">
								<%= link_to edit_game_path(game), title: t('actions.rename') do %>
									<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
										<path stroke-linecap="round" stroke-linejoin="round" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
										<path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
									</svg>
								<% end %>
								<%= link_to game_questions_path(game), title: t('actions.question') do %>
									<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
										<path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 10h16M4 14h16M4 18h16" />
									</svg>
								<% end %>
								<%= link_to game_teams_path(game), title: t('actions.teams') do %>
									<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
										<path stroke-linecap="round" stroke-linejoin="round" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
									</svg>
								<% end %>

								<%# PLAY BUTTON %>
								<% if game.status == "ready" || game.status == "running" %>
									<%= link_to game_play_path(game.id) do %>
										<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
											<path stroke-linecap="round" stroke-linejoin="round" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z" />
											<path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
										</svg>
									<% end %>
								<% else %>
									<%= link_to games_path, title: "Game is not ready!" do %>
										<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
											<path stroke-linecap="round" stroke-linejoin="round" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z" />
											<path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
										</svg>
									<% end %>
								<% end %>
							</div>
						</td>
					</tr>
				<% end %>
			</tbody>
			</table>
		</div>
	</div>
<% end %>

<div class="flex justify-center items-center py-8 space-x-5">
	<%= link_to t('menu.game.new'), new_game_path, class: "neon neon-green"%>
	<%= link_to t('back.toMenu'), menu_path, class: "neon neon-gray"%>
</div>