<div class="w-10/12 flex flex-col mt-14 mx-auto">
	<%# QUESTION %>
	<div class="text-4xl border border-white p-3"> 
		<% if uri_i?(@question.question) %>
			<div class="flex justify-center">
				<img src="<%= @question.question %>" alt="">
			</div>
		<% else %>
			<%= @question.question %> 
		<% end %>
	</div>
	
	<%# time and points %>
	<div class="flex">
		<div class="w-1/2 text-center border">
			<%= @question.points %> points!
		</div>
		<div class="w-1/2 text-center border">
			<%= @question.pretty_time %>
		</div>
	</div>

	<%# ANSWERS %>
	<div class="flex flex-wrap mt-2">

		<% letters = "ABCD" %>
		<% @question.order.split('').each_with_index do |o, i| %>
			<div class="border bottom-white w-1/2">
				<% if uri_i?(@question.question) %>
					<div class="flex justify-center">
						<img src="<%= @question.get_answer(o) %>" class="w-1/2" alt="">
					</div>
				<% else %>
					<%= letters[i] %>. <%= @question.get_answer(o) %>
				<% end %>
			</div>
		<% end %>
	</div>
	
	<%# TEAMS %>
	<div class="my-4 border border-white">
		<% @teams.each do |t| %>
			<div class="flex my-2">
				<div class="w-2/3">
					<div class="font-bold p-1"><%= t.name %></div>
				</div>
				<div class="flex flex-wrap w-1/3">

					<% @question.order.split('').each_with_index do |o, i| %>
						<div class="rounded-md border border-white p-1 mx-1 <%= 'bg-orange-500' if t.get_answer(@question.id, @gp.game_id) == o.upcase %>">
							<%= link_to letters[i], game_play_answer_path(@gp.game_id, @gp.question_id, t.id, o.upcase) %>
						</div>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>

	<%# GAME PROGRESS %>
	<div class="flex border border-white p-5">
		<% for c in 1..@questions_done %>
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="flex-1 bi bi-circle-fill" viewBox="0 0 16 16"> <circle cx="8" cy="8" r="8"/> </svg>
		<% end %>
		<% for c in 1..@questions_remaining %>
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="flex-1 bi bi-circle" viewBox="0 0 16 16"> <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/> </svg>
		<% end %>
	</div>

	<%# BUTTONS %>
	<div class="flex flex-col md:flex-row justify-center items-center py-8 space-y-3 md:space-y-0 md:space-x-5">
			<%= link_to @gp.get_next_question ? ( @gp.status != 'play' ? "Return to game" : "Next question") : (@gp.status == "rules" ? "Start the game" : "Finish the game") , game_play_next_path(@gp.game_id), class: "neon neon-yellow"%>

			<% if @question.justification %>
				<%= link_to "Justification", @question.justification, class: "neon neon-green", :target => "_blank" %>
			<% else %>
				<p class="neon neon-disabled">Justification</p>
			<% end %>
			
			<%= link_to "Break", game_play_break_path(@gp), class: "neon neon-light-blue"%>
			<%= link_to "Scoreboard", game_play_scoreboard_path(@gp), class: "neon neon-pink"%>
	</div>
</div>