<%# HAED TITLE %>
<p class="text-3xl mt-5">Teams</p>

<div class="md:px-32 py-8 w-full">
	<div class="shadow overflow-hidden rounded border-b border-gray-200">
		<table class="min-w-full bg-white">
			<thead class="bg-gray-800 text-white">
				<tr>
					<th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">#</th>
					<th class="text-left py-3 px-4 uppercase font-semibold text-sm"> Team's name </th>
					<th class="text-left py-3 px-4 uppercase font-semibold text-sm"> Quantity </td>
					<th class="text-left py-3 px-4 uppercase font-semibold text-sm"> <%= t('questions.action') %></td>
				</tr>
			</thead>
		<tbody class="text-gray-700">

			<% @teams.each do |t| %>
				<tr>
					<td class="text-left py-3 px-4"> <%= t.id %> </td>
					<td class="text-left py-3 px-4"> <%= t.name %> </td>
					<td class="w-1/3 text-left py-3 px-4"> <%= t.quantity %></td>
					<td class="text-left py-3 px-4">
						<%= link_to toggle_team_path(@game_id, t.id) do %>
							<% if !@game.teams.include?(t) %>
								<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
									<path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
								</svg>
							<% else %>
								<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
									<path stroke-linecap="round" stroke-linejoin="round" d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
								</svg>
							<% end %>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
		</table>
	</div>
</div>

<%# BOTTOM BUTTONS %>
<div class="flex justify-center items-center py-8 space-x-5">
	<%= link_to "Go to menu", menu_path, class: "neon neon-gray"%>
	<%= link_to "Go back to games", games_path, class: "neon neon-gray"%>
</div>